* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --dark-text: hsl(0, 6%, 24%);
    --text-clr: hsl(0, 36%, 70%);
    --button-border: hsl(0, 93%, 68%);
}

/*TYPOGRAPHY*/

.heading-span {
    color: var(--text-clr);
    font-weight: 300;
}

.main-heading {
    font-size: 2.75rem;
    text-align: center;
    color: var(--dark-text);
    font-weight: 600;
    letter-spacing: .25em;
    text-transform: uppercase;
    line-height: 1.10em;
}

.main-para {
    text-align: center;
    font-size: .90rem;
    line-height: 1.75em;
    font-weight: 600;
}

/*LAYOUT*/

body {
    color: var(--text-clr);
    min-height: 100vh;
    width: 100vw;
}

.mobile-logo-header {
    height: 6rem;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-size: 28%;
    background-position: 10% center;
}

.main-section {
    background-color: #FFF1F1;
    min-height: 100%;
}

.main-heading {
    padding-top: 4rem;
}

.main-para {
    padding: 1.75rem 1.75rem 2rem 1.75rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input {
    height: 3.5rem;
    width: 80%;
    background-color: #FFF1F1;
    border-radius: 5em;
    padding-left: 2em;
    margin-bottom: 2rem;
    border: 0.01em solid rgba(128, 128, 128, .5);
    font-size: 1rem;
}

button {
    height: 3.5rem;
    width: 20%;
    border-radius: 5em;
    position: absolute;
    right: 10%;
    margin-bottom: 2rem;
    border: 0;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 1px 10px 15px hsl(0, 25%, 75%);
}

.img-desktop {
    display: none;
}

::placeholder {
    color: var(--text-clr);
    font-size: 1rem;
}

.img-mobile {
    display: block;
}

.main-bg-img {
    display: none;
}

.error-p {
    display: none;
}

.main-form-error {
    display: none;
}

input:focus {
    border: 0.01em solid rgba(128, 128, 128, .5);
    outline: none;

}


@media all and (min-width: 376px) {

    /*TYPOGRAPHY*/

    .main-heading {
        text-align: left;
        font-size: 4rem;
    }

    .main-para {
        text-align: left;
        font-size: 1rem;
    }

    /*LAYOUT*/

    body {
        display: grid;
        grid-template-columns: 55% 45%;
        width: 100vw;
    }

    .img-mobile {
        display: none;
    }

    main {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        background-image: url(./images/logo.svg);
        background-repeat: no-repeat;
        background-position: 0 9%;
        width: 60%;

    }

    .main-bg-img {
        display: block;
        position: absolute;
        z-index: -1;
        transform: scaleY(-1), scaleX(-1);
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }


    .heading-span {
        display: block;
    }

    .main-heading {
        margin-top: 10.75rem;
        padding-bottom: 1rem;
    }

    .main-para {
        padding: 0 0 3.50rem 0;
    }

    input {
        background-color: transparent;
        width: 100%;
        border: 0.01em solid rgba(128, 128, 128, .5);
        margin-bottom: .75rem;
    }

    button {
        right: 0;
        margin-bottom: .75rem;
    }

    .mobile-logo-header {
        display: none;
    }

    .img-desktop {
        display: block;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;

    }

    /*PSUEDO-ELEMENTS*/


    button:hover {
        background: none;
        background-color: hsl(0, 80%, 86%)
    }

    input:focus {
        border: 0.01em solid rgba(128, 128, 128, .5);
        outline: none;

    }


    .notValid {
        border: 2px solid var(--button-border);
        background-image: url(./images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: 75% center;
    }

    .error-p {
        display: none;
        margin-left: 2rem;
        font-weight: 600;
    }

}